[submodule "src/lets_doom_this"]
	path = src/lets_doom_this
	url = https://github.com/Mathieu-Seurin/lets_doom_this.git
[submodule "src/neural_toolbox"]
	path = src/neural_toolbox
	url = https://github.com/Mathieu-Seurin/neural_toolbox.git
[submodule "src/gym-vizdoom"]
	path = src/gym-vizdoom
	url = https://github.com/Mathieu-Seurin/gym-vizdoom.git
[submodule "src/gym-minigrid"]
	path = src/gym-minigrid
	url = https://github.com/Mathieu-Seurin/gym-minigrid.git
